<p id="footer">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>. Business: <a href="mailto:business@stanfordharmonics.com">business@stanfordharmonics.com</a> | Web: <a href="mailto:leo@stanfordharmonics.com">leo@stanfordharmonics.com</a>
  <br>
  <div id="footer-links">
    <a href="http://www.facebook.com/theharmonics/" target="_blank">Facebook</a> • <a href="http://www.myspace.com/stanfordharmonics/" target="_blank">MySpace</a> • <a href="http://www.youtube.com/stanfordharmonics/" target="_blank">YouTube</a>
  </div>
</p>
