<h1 id='logo'>
  <%#= link_to Refinery::Core.site_name, refinery.root_path %>
  <%= image_tag("logo.png") %>
</h1>
<div class="hero-unit">
  <% announcement = Refinery::Page.find("announcement") %>
  <%= raw announcement.content_for(:body) %>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
